[submodule "submodules\\foundation-datepicker"]
	path = submodules\\foundation-datepicker
	url = https://github.com/najlepsiwebdesigner/foundation-datepicker
[submodule "submodules\\kenwheeler-slick"]
	path = submodules\\kenwheeler-slick
	url = https://github.com/kenwheeler/slick/
[submodule "submodules\\jQuery-Autocomplete"]
	path = submodules\\jQuery-Autocomplete
	url = https://github.com/devbridge/jQuery-Autocomplete
[submodule "submodules\\SortableJS"]
	path = submodules\\SortableJS
	url = https://github.com/SortableJS/Sortable
[submodule "submodules\\JeremyFagis-dropify"]
	path = submodules\\JeremyFagis-dropify
	url = https://github.com/JeremyFagis/dropify
[submodule "submodules\\jquery.AreYouSure"]
	path = submodules\\jquery.AreYouSure
	url = https://github.com/codedance/jquery.AreYouSure
